@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
}

body {
  color: rgb(var(--foreground-rgb));
  background: #e3e6e6;
  /* Light gray background common in Amazon */
  min-height: 100vh;
}