variables:
  MAVEN_OPTS: "-Dmaven.repo.local=.m2/repository"
  SONAR_HOST_URL: "http://172.20.188.238:80"
  # Add these in GitLab CI/CD Variables
  # AWS_ACCOUNT_ID
  # AWS_REGION
  # SONAR_TOKEN

stages:
  - scan-infra
  - build
  - test
  - package
  - scan-container
  - deploy

cache:
  paths:
    - .m2/repository

# 1. Infrastructure Scan (Checkov)
infra_scan_job:
  stage: scan-infra
  image: 
    name: bridgecrew/checkov:latest
    entrypoint: [""]
  script:
    - echo "Scanning Infrastructure as Code..."
    - checkov -d ops/terraform/aws --skip-check CKV_AWS_* --soft-fail || echo "Checkov found issues but soft-fail is on"
  allow_failure: true
  tags:
    - amazon-clone

# 2. Build JAR
build_job:
  stage: build
  image: maven:3.8.3-openjdk-17
  script:
    - echo "Compiling code..."
    - cd backend && mvn clean install -DskipTests=true
  tags:
    - amazon-clone
  artifacts:
    paths:
      - backend/target/*.jar

# 3. Test & Code Quality (SonarQube)
sast_job:
  stage: test
  image: maven:3.8.3-openjdk-17
  script:
    - test -n "$SONAR_TOKEN" || (echo "SONAR_TOKEN missing" && exit 1)
    - echo "Running SonarQube Analysis..."
    - cd backend 
    - mvn -B sonar:sonar -Dsonar.projectKey=amazon-clone-backend -Dsonar.host.url="$SONAR_HOST_URL" -Dsonar.login="$SONAR_TOKEN"
  needs:
    - build_job
  tags:
    - amazon-clone

# 4. Build & Push Docker Image (Kaniko)
push_job:
  stage: package
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  script:
    - echo "Building and Pushing to ECR..."
    - /kaniko/executor
      --context "${CI_PROJECT_DIR}/backend"
      --dockerfile "${CI_PROJECT_DIR}/backend/Dockerfile"
      --destination "${AWS_ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/amazon-backend:latest"
  needs:
    - build_job
    - sast_job
  tags:
    - amazon-clone

# 5. Security Scan (Trivy)
trivy_scan_job:
  stage: scan-container
  image: 
    name: aquasec/trivy:latest
    entrypoint: [""]
  script:
    - echo "Scanning dependencies and filesystem..."
    - trivy fs . --severity HIGH,CRITICAL --no-progress
  needs:
    - build_job
  tags:
    - amazon-clone

# 6. Deploy to EKS
deploy_job:
  stage: deploy
  image: bitnami/kubectl:latest
  script:
    - echo "Deploying to Kubernetes..."
    - echo "Replacing variables in manifest..."
    - sed -i "s/\${AWS_ACCOUNT_ID}/${AWS_ACCOUNT_ID}/g" ops/k8s/backend.yaml
    - sed -i "s/\${AWS_REGION}/${AWS_REGION}/g" ops/k8s/backend.yaml
    - kubectl apply -f ops/k8s/backend.yaml
  tags:
    - amazon-clone
  only:
    - main
    - phase-6c-gitlab
