{{- if .Values.monitoring.enabled -}}
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-backend
  namespace: {{ .Release.Namespace }}
  labels:
    release: kube-prometheus-stack # Adjust to match your Prometheus installation label
spec:
  selector:
    matchLabels:
      app: amazon-backend
  endpoints:
    - port: http
      path: /actuator/prometheus
      interval: 30s
---
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  name: {{ .Release.Name }}-frontend
  namespace: {{ .Release.Namespace }}
  labels:
    release: kube-prometheus-stack
spec:
  selector:
    matchLabels:
      app: amazon-frontend
  endpoints:
    - port: http
      path: /api/metrics # Adjust if frontend has a metrics path
      interval: 30s
{{- end }}
