apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: amazon-app
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io
spec:
  project: default
  source:
    repoURL: 'https://github.com/mkdevops89/amazon-clone-devops.git'
    targetRevision: phase-11-gitops
    path: ops/helm/amazon-app
    helm:
      valueFiles:
        - values.yaml
  destination:
    server: 'https://kubernetes.default.svc'
    namespace: devsecops
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
