apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: kube-prom-stack-grafana
  namespace: monitoring
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 10Gi
  storageClassName: gp3
