apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: jenkins-nvd-cache
  namespace: devsecops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
  storageClassName: gp3
