apiVersion: external-secrets.io/v1beta1
kind: ExternalSecret
metadata:
  name: db-credentials
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secret-store
    kind: ClusterSecretStore
  target:
    name: db-credentials-secret # The name of the K8s secret to be created
    creationPolicy: Owner
  data:
  - secretKey: password
    remoteRef:
      key: prod/db/password # The key in AWS Secrets Manager
