apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: amazon-clone
  namespace: argocd
  finalizers:
    - resources-finalizer.argocd.argoproj.io # Ensures resources are deleted when app is deleted
spec:
  project: default
  
  # Source of Truth: The Git Repository
  source:
    # YOU MUST UPDATE THIS URL TO YOUR FORKED REPO URL
    repoURL: 'https://github.com/YOUR_USERNAME/amazon-like-app.git'
    targetRevision: HEAD
    path: ops/helm # Path where Helm chart is located
    helm:
      valueFiles:
        - values.yaml
  
  # Destination: The Kubernetes Cluster
  destination:
    server: https://kubernetes.default.svc
    namespace: default
  
  # Sync Policy: How to handle updates
  syncPolicy:
    automated:
      prune: true     # Delete resources that are removed from Git
      selfHeal: true  # Undo manual changes made in the cluster
    syncOptions:
      - CreateNamespace=true
